<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{shared/main_layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Błąd</title>
</head>
    <body>
    <div layout:fragment="content" class="container" >
    <main role="main" class="container">
        <div class="jumbotron " style='background-color: rgba(240,240,240,0.75)!important;'>

            <div class = "row">
                <h1 class="text-danger">Wystąpił błąd!</h1>
            </div>
            <br />
            <div class = "row">
                <a class="btn btn-lg btn-primary float-right" href="/" role="button">Strona główna</a>
            </div>
              
    </body>
</html>
