<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/data/jaxb"
      layout:decorate="~{shared/main_layout}">
    <head>
        <title>Szczegóły faktury</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         <div layout:fragment="content" class="container" >
              <div class="simple-login-container  col-md-4 offset-md-4 bg-light">
                  <h3 th:text="'Szczegóły faktury nr ' + ${faktura.nrFaktury} "></h3>
                  <br />
                  <div class="row">
                      <h5 th:text="'Ilość paliwa: ' + ${faktura.iloscPaliwa} + ' m^3'"> </h5>
                  </div>
                  <div class="row">
                      <h5 th:text="'Abonament: ' + ${rejon.abonament} + ' PLN'"> </h5>
                  </div>
                  <div class="row">
                      <h5 th:text="'Opłata sieciowa stała: ' + ${rejon.oplataSieciowaStala} + ' PLN'"> </h5>
                  </div>
                  <div class="row">
                      <h5 th:text="'Opłata sieciowa zmienna: ' + ${rejon.oplataSieciowaZmienna} + ' PLN'"> </h5>
                  </div>
                  <div class="row">
                      <h5 th:text="'Stawka taryfowa: ' + ${grupaTaryfowa.stawkaTaryfowa} * ${faktura.iloscPaliwa} + ' PLN'"> </h5>
                  </div>
                  <hr width='100%'/>
                  <div class="row">
                      <h5 th:text="'Suma: ' + ${faktura.naleznosc} + ' PLN'"> </h5>
                  </div>
              </div>
         </div>
    </body>
</html>
