<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/data/jaxb"
      layout:decorate="~{shared/main_layout}">
    <head>
        <title>Lista pracowników</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         <div layout:fragment="content" class="container" >
              <div class="simple-login-container  col-md-4 offset-md-4 bg-light">
                  <h3 th:text="'Szczegóły faktury nr ' + ${faktura.nrFaktury} "></h3>
                  <div>
                  
                  </div>
              </div>
         </div>
    </body>
</html>
