<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/data/jaxb"
      layout:decorate="~{shared/main_layout}">
    <head>
        <title>Lista grup taryfowych</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         <div layout:fragment="content" class="container" >
        <table class="table table-hover bg-light">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nazwa grupy taryfowej</th>
                    <th scope="col">Stawka taryfowa</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="tar :${taryfy}">
                <tr>
                    <th scope="row" th:text="${tar.idGrupyTaryfowej}"></th>
                    <td th:text="${tar.nazwaGrupyTaryfowej}"></td>
                    <td th:text="${tar.stawkaTaryfowa}"></td>
                    <td><a th:href="@{/grupaTaryfowa_modify(id=${tar.idGrupyTaryfowej})}" th:text="Edytuj" class="btn btn-primary"></a></td>
                </tr>
                </th:block>
            </tbody>
        </table>
         </div>
    </body>
</html>
