<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{shared/main_layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gazownictwo</title>
</head>
<body>
<div layout:fragment="content" class="container" >
    <main role="main" class="container">
        <div class="jumbotron " style='background-color: rgba(240,240,240,0.75)!important;'>

        <div class = "row">
            <div class = "col-md-6 col-lg-4 col-xl-3 " style="text-align: center">
                <figure>
                    <a href="/klienci_print"><i class="fas fa-users fa-8x" style="color:#5CD6C8" alt="Klienci"></i></a>
                    <figcaption style="align:center">Lista klientów</figcaption>
                </figure>
            </div>


            <div class = "col-md-6 col-lg-4 col-xl-3 " style="text-align: center">
                <figure>
                    <a href="/faktury_print"><i class="far fa-file-alt fa-8x" alt="Faktury" style="color:#62B5D0"></i></a>
                    <figcaption>Lista faktur</figcaption>
                </figure>
            </div>

            <div class = "col-md-6 col-lg-4 col-xl-3 " style="text-align: center">
                <figure>
                    <a href="/faktura_insert"><i class="fas fa-plus-square fa-8x" alt="Dodawanie faktur" style="color:#6090BE"></i></a>
                    <figcaption>Dodaj fakturę</figcaption>
                </figure>

        </div>
            <hr width="100%">
    </div>
            <div class ="row" style="text-align: center">              
                <h1>Statystyki:</h1>            
            </div>

            <div class ="row" style="text-align: center">              
                <h4>Liczba klientów: <th:block th:text="${klientCount}" /></h4>            
            </div>
            <div class ="row" style="text-align: center">              
                <h4>Liczba pracowników: <th:block th:text="${pracownikCount}" /></h4>            
            </div>

            <div class ="row" style="text-align: center">              
                <h4>Ilość wystawionych faktur: <th:block th:text="${fakturaCount}" /></h4>            
            </div>

            <div class ="row" style="text-align: center">              
                <h4>Średnia wartość faktury: <th:block th:text="${fakturaAvg} + ' PLN'" /></h4>            
            </div>
            
            <div class ="row" style="text-align: center">              
                <h4>Ilość sprzedanego paliwa: <th:block th:text="${paliwoSum} + ' m^3'" /></h4>            
            </div>


            
            
                </div>
        </div>
    </main>
</div>
</body>
</html>
