<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Gazownictwo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><i class="fas fa-home"></i> Strona główna <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"><i class="fas fa-user"></i> Klienci</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="klienci_print">Lista</a>
                        <a class="dropdown-item" href="klient_insert">Wprowadzanie</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"><i class="fas fa-hammer"></i> Pracownicy</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="pracownicy_print">Lista</a>
                        <a class="dropdown-item" href="pracownik_insert">Wprowadzanie</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"><i class="far fa-file-alt"></i> Faktury</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="faktury_print">Lista</a>
                       <a class="dropdown-item" href="faktura_insert">Wprowadzanie</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"><i class="fas fa-users-cog"></i> Grupy taryfowe</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="grupyTaryfowe_print">Lista</a>
                        <a class="dropdown-item" href="grupaTaryfowa_insert">Wprowadzanie</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"><i class="fas fa-globe"></i> Rejony</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="rejony_print">Lista</a>
                        <a class="dropdown-item" href="rejon_insert">Wprowadzanie</a>
                    </div>
                </li>
            </ul>
             <a sec:authorize="isAuthenticated()" class="btn btn-lg btn-primary float-right" href="/logout" role="button">Wyloguj &raquo;</a>
        </div>
    </nav>
</header>